body{
    background: linear-gradient(to bottom, green, rgb(22, 98, 185));
    background-repeat: no-repeat; 
}

#one{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span#one{
  height: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}



  #one::before {
    content: "Click aquí";
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(171, 173, 32);
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }

  #one:active::before {
    transform:scale(3.5);
  }

  #one:hover {
    cursor: pointer;
  }
 
  #info.hidden, span#one.hidden{
    visibility:hidden;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }

#presentation {
  display: grid;
  height: fit-content;
  background-color: rgb(72, 170, 42);
}

#profile img {
  width: auto;
  height: 13vw; 
  border-radius: 10%;
  justify-self: end;
}

#profile img:hover{
  cursor:zoom-in;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s;
}

#profile {
  display: grid;
  height: fit-content;
  background-color:transparent;
}

#nav{
  background-color: transparent;
}


#nav li{
  padding-left: 15%;
}

#nav a:not(.dropdown-item){
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-align: center;
}

#nav li:hover {
  background-color: rgb(72, 170, 42);
}

ul.dropdown-menu li a:hover {
  background-color: transparent;
}

#nav li:hover a:not(.dropdown-item){
transform: translateX(-50%);
}

#competencias{
  color: black;
}



#competencias li{
 list-style: none;
}

.container-competencias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
}

#works, .black {
  color: black;
}

summary:hover{
  background-color: darkolivegreen;
}


.container-projects{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20%;
    grid-row-gap: 20px;
 }

.carousel-item img{
  width: 200px; 
  height: 200px; 
  object-fit: cover;
}

#projects a, #rubrica a{
  color: black;
}

.container-studies{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
}

#contact a{
  color: black;
}

#contact{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

#contact span{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }

#presentation {
  display: grid;
  height: fit-content;
  background-color: rgb(72, 170, 42);
}

#profile img {
  width: auto;
  height: 50vw; 
  border-radius: 10%;
  justify-self: end;
}

#profile img:hover{
  cursor:zoom-in;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s;
}

#profile {
  display: grid;
  height: fit-content;
  background-color:transparent;
}

#nav a:not(.dropdown-item){
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-align: center;
}

#nav li:hover {
  background-color: rgb(72, 170, 42);
}

ul.dropdown-menu li a:hover {
  background-color: transparent;
}

#nav li:hover a:not(.dropdown-item){
transform: translateX(0%);
}
}